.container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}
.leftSide {
  width: 20%;
  background: rgba(69, 9, 69, 0.315);
}
.rightSide {
  width: 80%;
}
.mail {
  padding: 10px;
}
.input {
  background: rgba(69, 9, 69, 0.315);
  padding: 10px;
  display: flex;
  justify-content: space-around;
}
.compose {
  width: 100%;
}
.composeBtn {
  width: 80%;
}
.inboxDivs div {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.171);
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
}
.inboxDivs div:hover {
  background: rgb(104, 159, 180);
}
.inbox {
  font-size: 15px;
  font-weight: 700;
}
.item {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}
.item :hover {
  background: rgb(235, 226, 226);
}
.item div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.135);
  margin: 2px;
  padding-left: 5px;
}

.email {
  text-align: start;
  width: 20%;
}

.subject {
  text-align: start;
  width: 40%;
}
